* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #e0f2fe;

    background-color: var(--main-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: red;
}

.side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    background-color: blue;
}

.main-content {
    display: grid;

    grid-column: 2 / 3;
    grid-template-columns: 3fr 1fr;

    background-color: yellow;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}