* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #e0f2fe;
    ;

    background-color: var(--main-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

